.dashboard-nav-container{
    background-color: #3e94db;
    height: 100px;
}

#dashboard-nav{
    background-color: #3e94db;
    height: 100px;
}

#chapter-brand{
    color: white;
    margin-left: 50px;
    font-size: 49px;
    font-family: 'Comfortaa';font-size: 57px;font-weight: 700;

}

#navbarText{
    color: white;
    font-family: 'Comfortaa';font-size: 12px;font-weight: 30;
}


#dashboard-nav-link-container{
    margin-left: 776px;
    color: white;
}

#dashboard-nav-link{
    color: white;
    font-family: 'Comfortaa';font-size: 12px;font-weight: 30;
}