#write-page-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #3e94db;
    border-radius: 15px;
    height: 547px;
    width: 593px;

    font-family: 'Comfortaa';font-size: 17px;font-weight: 30;



}

#write-page-location{
    margin-top: 10px;
    width: 400px;

}

#write-page-scale{
    margin-top: 10px;
    width: 400px;
    margin-bottom: 10px;


}

#write-page-description{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 502px;
    margin-bottom: 16px;

}

#write-button{
    background-color: #ffe45f;
    width: 208px;
    font-family: 'Comfortaa';font-size: 27px;font-weight: 30;
    color: black;
}