#sign-in-label{
    color: white;
}
.sign-in-container{
    background-color: #3e94db;
    width: 1000px;
    height: 300px;
    border-radius: 15px;
    margin-left: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-block{
    width: 500px;
}

#sign-in-email{
    margin-bottom: 10px;
}

#sign-in-button{
    margin-top: 10px;
    margin-left: 80px;

}

#sign-in-button-color{
    background-color: #ffe45f;
    ;
}
