/* Container Level 1 */
.dashboard-container{
    border: black 5px solid;
    width: 100;
    height: fit-content;
}

#dashboard-input-row,
#dashboard-output-row{
    border: red solid 5px;
    width: 100;
    height: 600px;

}
#dashboard-welcome-row{
    border: red solid 5px;
    width: 100;
    height: 250px;

}

#dashboard-welcome-col{
    width: 100;
    height: 194px;
}

#dashboard-instructions-col{
    /* border: green 5px solid;
    height: 240px;
    margin-right: 10px; margin-left: 10px; */

    border: green 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;

}

#dashboard-input-col{
    border: green 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dashboard-create-page-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ---------Detail Card (will be moved to List Component Later)--------- */
#dashboard-expanded-detail-col{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TRANSFER TO LIST PAGES COMPONENT */








