/* 
.register-container

.row-1

.col-10

.register-form

---The form will go on this level---

*/

.register-container{
    /* border: black 5px solid; */
    width: 100;
    background-color: #6ab4f0;

}

#register-row{
    /* border: red 5px solid; */
    width: 100;
    height: 600px;

}

#register-col{
    /* border: orange 5px solid; */
    width: 1286px;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.register-form{
    /* border: purple 7px solid; */
    border-radius: 15px;
    background-color: #3e94db;

    
    width: 1240px;
    height: 517px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#register-name,
#register-email, 
#register-password{
    width: 641px;
    margin-top: 15px;
    margin-bottom: 15px;

    border-radius: 15px;
    font-family: 'Comfortaa';font-size: 24px;font-weight: 30;
    border: #3e94db 5px solid;



}

#register-button{
    margin-left: 10px;
    background-color: #ffe45f;
    width: 208px;
    font-family: 'Comfortaa';font-size: 27px;font-weight: 30;

}



