.input-container{
    background-color: #3e94db;
    width: 595px;
    height: 600px;
    border-radius: 15px;
    margin-left: 80px;
    margin-top: 60px;

}

/* :::::::::::::LABEL::::::::::::::::::::::::::::::::::::::: */

#inner-label{
    font-family: 'Comfortaa';font-size: 40px;font-weight: 700;
    color: white;

}

#inner-logo{
    height: 100px;
    width: 100px;
    background-color: #3e94db;

    
}

#input-pen-logo{
    height: 100px;
    width: 100px;
    /* background-color: #3e94db; */
}

/* :::::::::::::FORM::::::::::::::::::::::::::::::::::::::: */

/* --------------First Input------------------- */
.input-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mind-body-option-btn-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#mind-btn-option{
    height: 100px;
    width: 100px;
    background-color:  #3e94db;;


}

#body-btn-option{
    height: 100px;
    width: 100px;

}

/* --------------Second Input------------------- */

/* .input-range-container{

} */

/* --------------Third Input------------------- */
.input-details-container{
    margin-top: 10px;
    width: 545px;
}

/* --------------Fourth Input------------------- */




/* -------------------Buttons-------------------- */
.input-buttons-container{
    margin-top: 10px;
}

#write-button{
    margin-right: 10px;
}

#clear-button{
    margin-left: 10px;
}







