#sign-up-page-title{
    font-family: 'Comfortaa';font-size: 57px;font-weight: 700;
    color: white;
    margin-bottom: 10px;

}

#level-3{
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-row-1,
#input-row-2,
#input-row-3,
#input-row-4,
#input-row-5,
#input-row-6,
#input-row-7,
#input-row-8{
    width: 300px;
    margin-top: 15px;
    border-radius: 16px;
    background-color: #3e94db;
    border: white solid 3px;
    color: white;


}

#button-row-9{
    margin-top: 10px;
    background-color: #ffe45f;
    border-radius: 16px;
    font-family: 'Comfortaa';font-size: 15px;font-weight: 30;


}

#input-row-1::placeholder,
#input-row-2::placeholder,
#input-row-3::placeholder,
#input-row-4::placeholder,
#input-row-5::placeholder,
#input-row-6::placeholder,
#input-row-7::placeholder,
#input-row-8::placeholder{
    color: white;
    font-family: 'Comfortaa';font-size: 15px;font-weight: 10;

}

#input-row-1::-ms-value{
    font-family: 'Comfortaa';font-size: 15px;font-weight: 10;


}











